.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: #4c0000 1px solid;
}

.error-message {
  color: #7b0000;
}

.active-filter {
  background-color: #007d57;
}

.is-done {
  opacity: 0.5;
}
